/*font families*/
* 
{box-sizing: border-box;
margin:0; 
padding:0}
body 
{ font-family: "Jersey 10", sans-serif;
line-height:1.4; 
color:#222; 
background:#f7f7fb}
/*google font: jersey 10*/
/*https://fonts.google.com/specimen/Jersey+10?preview.text=a%20b%20c%20d%20e%20f%20g%20hi%20iiiii&query=jersey*/
.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*website header and the nav bar*/
#site-header 
{background: linear-gradient(90deg,#111,#334); 
color:#ffffff; 
padding:1rem}
.brand 
{display:flex; 
gap:1rem; 
align-items:center}
.brand img 
{width:48px; 
height:48px; 
border-radius:6px}
.nav-list 
{list-style:none; 
display:flex; 
gap:0.5rem; 
margin-top:0.5rem}
.nav-list li a 
{display:inline-block; 
padding:0.5rem 0.8rem; 
color:#ffffff; 
text-decoration:none; 
border-radius:0px}
.nav-list li a:hover, .nav-list li a:focus 
{background: rgba(255, 255, 255, 0.08)}
.nav-list 
{background: rgba(255,255,255,0.02); 
padding:0.25rem; 
border-radius:0px; 
list-style:none}
/*main content layout*/
main 
{max-width:1100px; 
margin:1.2rem auto; 
padding:1rem}
.card 
{background:#fff;
border-radius:0;
padding:1rem;
margin-bottom:1rem;
box-shadow: 0 0 0 4px #000,0 0 0 3px #666}
/*adding a footer*/
footer, .site-footer 
{max-width:1100px;
margin: 2rem auto;
padding: 1rem}
.footer-left 
{float:left}
.footer-right 
{float:right}
.clearfix::after 
{content:""; 
display:block; 
clear:both}
#main .card, .card 
{font-size:1rem;}
/*screenshot styling*/
.screenshot img
{width: 100%;
height: auto;    
display: block;
border: 4px solid #000;  
object-fit: contain}

/*examples page css*/
.examples-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 40px;
}
.pixel-card {
  background: #fff;
  padding: 20px;
  border: 4px solid black;
/*shadow adds the 3d effect same for the button*/
  box-shadow: 4px 4px 0px black;
  border-radius: 0;
  text-align: center;
}
.pixel-card h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.pixel-card p {
  margin-bottom: 15px;
  font-size: .95rem;
}
/*play button for the pixel card*/
.play-btn {
  padding: 10px 20px;
  font-family: "Jersey 10", sans-serif;
  font-size: 1rem;
  border: 3px solid black;
  background: #e0e0e0;
  box-shadow: 3px 3px 0 black;
  cursor: pointer;
  transition: transform 0.1s;
}
.play-btn:active {
  transform: translate(2px, 2px);
  box-shadow: 1px 1px 0 black;
}




/*screen responsive aspect*/
@media (max-width: 720px) {
.brand 
{flex-direction:row}
.nav-list
{flex-wrap:wrap}
.footer-left, .footer-right 
{float:none; 
text-align:center}
.examples-grid 
{grid-template-columns: 1fr}
}